<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <% if current_user.nil? %>
    <%= link_to "Sign in", new_session_url %>
    <%= link_to "Sign up", new_user_url %>
  <% else %>
    <%= "Logged in as #{current_user.email}" %>
    <%= button_to "Logout", session_url, method: :delete %>
  <% end %>
<%= yield %>

</body>
</html>
